.navbar {
  background-color: #6a0dad;
}
.navbar-brand {
  font-weight: bold;
}
.styles {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.styles:hover {
  color: gold;
  background-color: transparent;
  text-decoration: underline;
}
